@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* css variables */
:root {
    --screen-color: #302e2e;
    --calculator-digits-background-color: #181818;
    --operators-color: rgb(52, 116, 235);
}
/* general styles */
body {
    font-family: Gotue, monospace, serif;
    color: #fff;
    background-color: darkcyan;

}
button {
    display: inline-block;
    border: 0;
    cursor: pointer;
    border-radius: 4px;
}
.container {
    width: 90%;
    max-width: 400px;
    margin: 5rem auto;
}
a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
}
/* github container */
.github__container {
    position: fixed;
    top: -1rem;
    right: -4rem;
    width: 200px;
    
    transform: rotate(45deg);
    text-align: center;
    font-size: 2rem;
    background-color: #302e2e;
   
    padding: 2.4rem 1rem 1.2rem 1rem;
    
}

/* desktop styles */
 
#calculator__screen {
    position: relative;
    background-color: var(--screen-color);
    height: 100px;
}
#calculator__screen .position__absolute {
    position: absolute;
    bottom: 3.5rem;
    right: 0.5rem;
    font-size: 1.5rem;

}
#calculator__result {
    font-size: 2rem;
    margin-top: 2.9rem;
    position: absolute;
    bottom: 0.8rem;
    right: 0.5rem;
}
 
#calcultor__digits {
    background-color: var(--calculator-digits-background-color);
    display: grid;
    grid-template-areas: 
    "delete erase substract divide"
    "seven eight nine multiply"
    "four five six plus"
    "one two three equal"
    "dot zero zero equal";
    grid-gap: 10px;
    grid-auto-rows: 4rem;
    padding: 1rem;
}
#calcultor__digits > * {
    font-size: 1.3rem;
    color: #fff;
    font-weight: 900;
}
#calcultor__digits .numbers {
    background-color: var(--screen-color);
}
#calcultor__digits .operators {
    background-color: var(--operators-color);
}

[data-delete="delete"] {
    grid-area: delete;
}
[data-erase="erase"] {
    grid-area: erase;
}
[data-substract ="substract"] {
    grid-area: substract;
}
[data-division="divide"] {
    grid-area: divide;
}
[data-digit="seven"] {
    grid-area: seven;
}
[data-eight="eight"] {
    grid-area: eight;
}
[data-nine="nine"] {
    grid-area: nine;
}
[data-multiply="multiply"] {
    grid-area: multiply;
}
[data-digit="four"]{
    grid-area: four;
}
[data-digit="five"] {
    grid-area: five;
}
[data-digit="six"] {
    grid-area: six;
}
[data-add="add"] {
    grid-area: plus;
}
[data-digit="one"] {
    grid-area: one;
}
[data-digit="two"] {
    grid-area: two;
}
[data-digit="three"] {
    grid-area: three;
}
[data-calculate="calculate"] {
    grid-area: equal;
}
[data-decimal="decimal"] {
    grid-area: dot;
}
[data-digit="zero"] {
    grid-area: zero;
}


button {
    transform: translateY(-3px);
    
}
button:focus {
    transform: translateY(-2px);
    
    outline-color: rgb(197, 50, 50);
    
}
 /* error message */
 #error__message {
     position: relative;
     color: #000;
     border: 2px solid red;
     background-color: rgb(219, 51, 51);
     color: #fff;
     font-size: 1.4rem;
     font-weight: 900;
     padding: 1rem 1rem;
     margin-bottom: 1rem;
     display: none;
     transition: all 2s;
 }

 #error__message span {
     position: absolute;
     top: 0.4rem;
     right: 0.6rem;
     margin-bottom: 1rem;
     background-color: rgb(197, 50, 50);
     padding: 0.4rem;
     cursor: pointer;
 }
 #error__message p {
     padding-top: 2rem;
 }
 #error__message.show {
     display: block;
 }

 @media (max-width: 600px){
     .container {
         margin-top: 10rem;
     }
 }

